In [1]:
import pandas as pd
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.feature_extraction.text import CountVectorizer
import numpy as np
import csv
from scipy.sparse import csr_matrix
from surprise import Dataset, Reader, SVD
from surprise.model_selection import train_test_split
from surprise import accuracy
from preprocess import *
from recommendation_system_methods import *
import pickle

In [2]:
ratings_df = load_dataframe_from_pickle('pickles/ratings_df.pkl')
movies_df = load_dataframe_from_pickle('pickles/movies_df.pkl')

model = load_model_from_pickle('pickles/svd_model.pkl')

DataFrame loaded from pickles/ratings_df.pkl
DataFrame loaded from pickles/movies_df.pkl
Model loaded from pickles/svd_model.pkl

### Most active users

In [3]:
top_users = top_users_by_movie_count(ratings_df, 10)
print("Top users by the number of movies seen:")
print(top_users)

Top users by the number of movies seen:
user_id
305344     1344
387418     1339
2439493    1324
2118461    1305
1664010    1257
716173     1169
1314869    1132
2056022    1072
1852040    1053
2606799    1039
dtype: int64

### Example usage

In [12]:
user_id = 305344  
num_recommendations = 5

# Display movies the user has already seen
seen_movies_df = seen_movies(user_id, ratings_df, movies_df)
print(f"Movies already seen by user {user_id}:")
seen_movies_df.head()

seen_movies_df[seen_movies_df['rating'] == 5]

Movies already seen by user 305344:

      movie_id                                        title  rating
25          83                                     Silkwood       5
56         199                              The Deer Hunter       5
58         208  The Three Stooges: Sing a Song of Six Pants       5
66         238      Led Zeppelin: The Song Remains the Same       5
103        344                      The Taming of the Shrew       5
...        ...                                          ...     ...
1259      4219                          The Tuskegee Airmen       5
1272      4266                    The Passion of the Christ       5
1284      4302                   An Officer and a Gentleman       5
1309      4386                The Return of the Living Dead       5
1325      4432                              The Italian Job       5

[81 rows x 3 columns]

In [13]:
# Get recommendations
recommendations = recommend_movies(ratings_df, movies_df, user_id, model, 5)

# Display recommendations
print(f"Top {num_recommendations} recommendations for user {user_id}:")
recommendations

Top 5 recommendations for user 305344:

   movie_id           title  estimated_rating
0      3153  Doctor Zhivago          3.176996
1      2251      The Rookie          3.084893
2       886             Ray          2.889629
3      3309      The Pledge          2.862669
4      3680         Hackers          2.178755